body {
 background-image: url("https://miro.medium.com/max/2712/1*hfEeUBQ2T56E_k8yDhAINg.jpeg");
 background-color: #cccccc;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
