<!DOCTYPE html>
	<html>
		<head>
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		</head>
		<body>
			<div class="container" style='border: 1px solid; padding: 10px; box-shadow: 5px 10px; margin:auto; width:80%'>
			
			{{ content }}
			
			</div>
			<footer></footer>
		</body>
	</html>
