<!DOCTYPE html>
	<html>
		<head>
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
			<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
			
		</head>
		<body>
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/index.html">About me</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
                        -->

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<!-- <ul><li></li></ul> -->
			</footer>
		</body>
	</html>
